<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../Css/estilo.css">
</head>
<body class="CorpoContato">
<header class="OpacidadeHeader">

    <div class="Cabecalho">

        <div class="Logo">
            <a href="../index.html"><img src="../Imagens/DouradoEssencias(2).png" alt="logo"></a>
        </div>

        <div class="Menus">
            <nav>
                <ul>
                    <li><a href="SobreNos.html">Sobre</a></li>
                    <li><a href=" ">Essências</a>
                        <ul class="submenu">
                            <li><a href="Essencias.html">Geral</a></li>
                            <li><a href="Eudora.html">Eudora</a></li>
                            <li><a href="#natura">Natura</a></li>
                            <li><a href="#oboticario">Oboticário</a></li>
                            <li><a href="#ivon">Ivon</a></li>
                        </ul>
                    </li>
                    <li><a href="Promocoes.html">Promoções</a></li>
                    <li><a href="Lancamentos.html">Lançamentos</a></li>
                    <li><a href="Contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="BarraPesquisa">
            <input type="text" id="pesquisa" name="pesquisa" class="form-control" required>
            <img src="../Imagens/IconePesquisa.png" alt="Imagem Pesquisa" class="IconePesquisa">
        </div>
    </div>

    <h1 class="NomeBanner">Dourado Essências</h1>
</header>
<main>
    <section class="Contato">

        <a href="../index.html"><img src="../Imagens/x.png" alt="X" class="X"></a>
        <div class="ContatoElementos">
            <h1>Entre em contato conosco</h1>
            <div class="CampoNome">
                <p><strong> Nome</strong></p>
                <input type="text" id="nome" name="nome" class="form-control" required>
            </div>
            <div class="CampoEmail">
                <p><strong>E-mail</strong></p>
                <input type="text" id="email" name="email" class="form-control" required>
            </div>
            <div class="Campotelefone">
                <p><strong>Telefone</strong></p>
                <input type="text" id="telefone" name="telefone" class="form-control" required>
            </div>
            <div class="CampoMensagem">
                <p><strong>Mensagem</strong></p>
                <input type="text" id="mensagem" name="mensagem" class="form-control" required>
            </div>
            <button class="ContatoBotao">
                <a href="../index.html">Enviar</a>
            </button>
            <a class="Esqueceu">Esqueceu seu E-mail?</a>
        </div>
        <img class="imagemContato" src="../Imagens/ImagemContato.jpg" alt="Imagem Contato">
    </section>


<!--    <section class="ElementoFixado">-->
<!--        <div class="elemento">-->
<!--            <img src="Imagens/whatsapp.png" alt="Icone WhatsApp">-->
<!--        </div>-->
<!--    </section>-->

    <section class="OpacidadeBanners">
        <div class="RetireLoja">
            <div class="banners">
                <img src="../Imagens/imagemRetire.gif" alt="Retire Loja">
                <img src="../Imagens/ConverseConosco.gif" alt="Contato">
                <img src="../Imagens/ImagemIlustrativaBanner.png" alt="Imagem ilustrativa banner">
                <img src="../Imagens/ProdutoIlustrativo1.png" alt="Produto ilustrativo 1">
                <img src="../Imagens/ProdutoIlustrativo2.png" alt="Produto ilustrativo 2">
            </div>
        </div>
    </section>

    <footer>

        <div class="OpacidadeFooter">

            <div class="Logo">
                <img src="../Imagens/DouradoEssencias(2).png" alt="Logo Rodape">
            </div>

            <div class="outrosRodape">
                <h3>Outros</h3>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>WhatsApp</p>
            </div>

            <div class="Duvidas">
                <h3>Dúvidas</h3>
                <p>Perguntas Frequentes</p>
                <p>Formas de Pagamento</p>
                <p>Frete e Entrega</p>
                <p>Trocas e Devoluções</p>
                <p>Mapa do Site</p>
            </div>

            <div class="Marcas">
                <h3>Marcas</h3>
                <p>Eudora</p>
                <p>Vult</p>
                <p>Boticário Internacional</p>
                <p>Natura</p>
                <p>Avon</p>
            </div>

        </div>

        <div class="OpacidadeTodosDireitos">
            <p>© 2024 Dourado Essências</p>
            <p>Todos os direitos reservados</p>
        </div>
    </footer>
</main>

</body>
</html>