<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promoções</title>
    <link rel="stylesheet" href="../Css/estilo.css">
</head>
<body>
<header>

    <div class="CabecalhoPromocoes">

        <div class="Logo">
            <a href="../index.html"><img src="../Imagens/DouradoEssencias(2).png" alt="logo"></a>
        </div>

        <div class="Menus">
            <nav>
                <ul>
                    <li><a href="SobreNos.html">Sobre</a></li>
                    <li><a>Essências</a>
                        <ul class="submenu">
                            <li><a href="Essencias.html">Geral</a></li>
                            <li><a href="Eudora.html">Eudora</a></li>
                            <li><a href="#natura">Natura</a></li>
                            <li><a href="#oboticario">Oboticário</a></li>
                            <li><a href="#ivon">Ivon</a></li>
                        </ul>
                    </li>
                    <li><a href="Promocoes.html">Promoções</a></li>
                    <li><a href="Lancamentos.html">Lançamentos</a></li>
                    <li><a href="Contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="BarraPesquisa">
            <input type="text" id="pesquisa" name="pesquisa" class="form-control" required>
            <img src="../Imagens/IconePesquisa.png" alt="Imagem Pesquisa" class="IconePesquisa">
        </div>
    </div>

    <h1 class="NomeBanner">Dourado Essências</h1>
</header>
<main>
    <section class="Essencias">

        <div class="NomeEssencias">
            <h2>Lançamentos</h2>
            <hr>
        </div>

        <div class="Perfume">
            <div class="NomePreco">
                <p class="nome">Avon Musk Instinck</p>
                <p class="promocao">R$ 149,30</p>
                <p class="preco">R$ 113,80</p>
                <button class="VerMais">Ver mais</button>
            </div>
            <div class="ImgPerfume">
                <img src="../Imagens/new.png" alt="Icone New" class="IconeNew">
                <img src="../Imagens/AvonMusk.png" alt="Pulse Eudora">
            </div>
        </div>

        <div class="Perfume2">
            <div class="NomePreco">
                <p class="nome">Eudora Club 6</p>
                <p class="promocao">R$ 165,90</p>
                <p class="preco">R$ 132,20</p>
                <button class="VerMais">Ver mais</button>
            </div>
            <div class="ImgPerfume">
                <img src="../Imagens/new.png" alt="Icone New" class="IconeNew">
                <img src="../Imagens/EudoraClub6.png" alt="Pulse Eudora">
            </div>
        </div>

        <div class="Perfume3">
            <div class="NomePreco">
                <p class="nome">Diva Nuit Eudora</p>
                <p class="promocao">R$ 129,90</p>
                <p class="preco">R$ 100,99</p>
                <button class="VerMais">Ver mais</button>
            </div>
            <div class="ImgPerfume">
                <img src="../Imagens/new.png" alt="Icone New" class="IconeNew">
                <img src="../Imagens/DivaNuitEudora.png" alt="Avon Musk">
            </div>
        </div>

        <div class="Perfume4">
            <div class="NomePreco">
                <p class="nome">Natura Luna Ousadia</p>
                <p class="promocao">R$ 149,30</p>
                <p class="preco">R$ 90,30</p>
                <button class="VerMais">Ver mais</button>
            </div>
            <div class="ImgPerfume">
                <img src="../Imagens/new.png" alt="Icone Promocao" class="IconePromocao">
                <img src="../Imagens/NaturaLuna.png" alt="Natura Luna">
            </div>
        </div>

        <div class="VerMaisEssencias">
            <a>Ver Mais</a>
            <a><img src="../Imagens/setabranca.png"></a>
        </div>

    </section>

    <section class="ElementoFixado">
        <div class="elemento">
            <img src="../Imagens/whatsapp.png" alt="Icone WhatsApp">
        </div>
    </section>

    <section class="Banners">
        <div class="RetireLoja">
            <div class="banners">
                <img src="../Imagens/imagemRetire.gif" alt="Retire Loja">
                <img src="../Imagens/ConverseConosco.gif" alt="Contato">
                <img src="../Imagens/ImagemIlustrativaBanner.png" alt="Imagem ilustrativa banner">
                <img src="../Imagens/ProdutoIlustrativo1.png" alt="Produto ilustrativo 1">
                <img src="../Imagens/ProdutoIlustrativo2.png" alt="Produto ilustrativo 2">
            </div>
        </div>
    </section>

    <footer>

        <div class="rodape">

            <div class="Logo">
                <img src="../Imagens/DouradoEssencias(2).png" alt="Logo Rodape">
            </div>

            <div class="outrosRodape">
                <h3>Outros</h3>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>WhatsApp</p>
            </div>

            <div class="Duvidas">
                <h3>Dúvidas</h3>
                <p>Perguntas Frequentes</p>
                <p>Formas de Pagamento</p>
                <p>Frete e Entrega</p>
                <p>Trocas e Devoluções</p>
                <p>Mapa do Site</p>
            </div>

            <div class="Marcas">
                <h3>Marcas</h3>
                <p>Eudora</p>
                <p>Vult</p>
                <p>Boticário Internacional</p>
                <p>Natura</p>
                <p>Avon</p>
            </div>

        </div>

        <div class="todosDireitos">
            <p>© 2024 Dourado Essências</p>
            <p>Todos os direitos reservados</p>
        </div>
    </footer>
</main>

</body>
</html>