<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfume Elegance</title>
<link rel="stylesheet" href="../Css/estiloIndividual.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Dourado Essências</h1>
    </header>
    <main>
        <div class="product">
            <div class="image">
                <img src="../Imagens/PulseEudora2.png" alt="Perfume Elegance Bottle">
            </div>
            <div class="details">
                <h2>Pulse Eudora</h2>
                <p class="description">
                    Descubra a fragrância perfeita que combina frescor e sofisticação.
                    Ideal para momentos especiais ou para o dia a dia.
                </p>
                <p class="price">R$ 199,90</p>
                <div class="quantidade">
                    <div class="ml">
                        <p>50 ml</p>
                    </div>
                    <div class="ml">
                        <p>100 ml</p>
                    </div>
                    <div class="ml">
                        <p>150 ml</p>
                    </div>
                </div>
                <button class="btn-buy">Comprar Agora</button>
                <div class="pagamentos">
                    <h1>Formas de Pagamento</h1>
                    <img src="../Imagens/FormasPagamento.png" alt="Formas Pagamento">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Perfume Store. Todos os direitos reservados.</p>
    </footer>
</div>
</body>
</html>
