<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../Css/estilo.css">
</head>
<body>
<header>

    <div class="Cabecalho">

        <div class="Logo">
            <a href="../index.html"><img src="../Imagens/DouradoEssencias(2).png" alt="logo"></a>
        </div>

        <div class="Menus">
            <nav>
                <ul>
                    <li><a href="SobreNos.html">Sobre</a></li>
                    <li><a>Essências</a>
                        <ul class="submenu">
                            <li><a href="/DouradoEssencias/templates/Essencias.html">Geral</a></li>
                            <li><a href="Eudora.html">Eudora</a></li>
                            <li><a href="#natura">Natura</a></li>
                            <li><a href="#oboticario">Oboticário</a></li>
                            <li><a href="#ivon">Ivon</a></li>
                        </ul>
                    </li>
                    <li><a href="Promocoes.html">Promoções</a></li>
                    <li><a href="Lancamentos.html">Lançamentos</a></li>
                    <li><a href="Contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="BarraPesquisa">
            <input type="text" id="pesquisa" name="pesquisa" class="form-control" required>
            <img src="../Imagens/IconePesquisa.png" alt="Imagem Pesquisa" class="IconePesquisa">
        </div>
    </div>

    <h1 class="NomeBanner">Dourado Essências</h1>
</header>
<main>
    <section class="SobreNos">
        <h2>Sobre Nós</h2>
        <div class="ImagemSobre">
            <img src="../Imagens/DouradoEssencias4.png" alt="Imagem Sobre nos home">
        </div>
        <div class="TextoSobreNos">
            <div class="TextoVisao">
                <h2>Visão</h2>
                <p>A Dourado Essências de Perfume é uma empresa dedicada à criação e distribuição de fragrâncias de alta
                    qualidade, oferecendo uma ampla variedade de essências, desde aromas clássicos até opções exclusivas
                    e
                    personalizadas. Valorizando a perfumaria artesanal e a sustentabilidade, a empresa seleciona
                    matérias-primas
                    premium para garantir fragrâncias profundas e equilibradas. Com atendimento personalizado, atende
                    tanto o
                    varejo quanto o atacado, desenvolvendo produtos sob medida para perfumistas independentes, lojas e
                    empresas.
                    A Dourado Essências transforma a experiência de cada cliente em uma jornada olfativa única e
                    memorável.</p>
            </div>
            <div class="TextoVisao">
                <h2>Objetivo</h2>
                <p>Fundada com o objetivo de valorizar a perfumaria artesanal e a qualidade dos ingredientes, a Dourado
                    Essências de Perfume utiliza matérias-primas de alta qualidade, selecionadas de forma criteriosa,
                    para garantir que cada fragrância tenha profundidade, persistência e equilíbrio. Além disso, a
                    empresa investe em processos sustentáveis, valorizando o meio ambiente e assegurando uma cadeia de
                    produção ética e responsável.</p>
            </div>
        </div>

    </section>

    <section class="Sede">
        <h2>Nossa Sede</h2>
        <div class="NossaSede">
            <h3>Penápolis - São Paulo</h3>
            <div class="SedeImg">
                <img src="../Imagens/NossaSede.jpeg" alt="Nossa Sede">
            </div>
            <div class="SedeTexto">
                <img src="../Imagens/seta.png" alt="Seta" class="Rodar">
                <p>Seção</p>
                <img src="../Imagens/seta.png" alt="Seta">
            </div>
        </div>

    </section>

    <section class="ElementoFixado">
        <div class="elemento">
            <img src="../Imagens/whatsapp.png" alt="Icone WhatsApp">
        </div>
    </section>

    <section class="Banners">
        <div class="RetireLoja">
            <div class="banners">
                <img src="../Imagens/imagemRetire.gif" alt="Retire Loja">
                <img src="../Imagens/ConverseConosco.gif" alt="Contato">
                <img src="../Imagens/ImagemIlustrativaBanner.png" alt="Imagem ilustrativa banner">
                <img src="../Imagens/ProdutoIlustrativo1.png" alt="Produto ilustrativo 1">
                <img src="../Imagens/ProdutoIlustrativo2.png" alt="Produto ilustrativo 2">
            </div>
        </div>
    </section>

    <footer>

        <div class="rodape">

            <div class="Logo">
                <img src="../Imagens/DouradoEssencias(2).png" alt="Logo Rodape">
            </div>

            <div class="outrosRodape">
                <h3>Outros</h3>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>WhatsApp</p>
            </div>

            <div class="Duvidas">
                <h3>Dúvidas</h3>
                <p>Perguntas Frequentes</p>
                <p>Formas de Pagamento</p>
                <p>Frete e Entrega</p>
                <p>Trocas e Devoluções</p>
                <p>Mapa do Site</p>
            </div>

            <div class="Marcas">
                <h3>Marcas</h3>
                <p>Eudora</p>
                <p>Vult</p>
                <p>Boticário Internacional</p>
                <p>Natura</p>
                <p>Avon</p>
            </div>

        </div>

        <div class="todosDireitos">
            <p>© 2024 Dourado Essências</p>
            <p>Todos os direitos reservados</p>
        </div>
    </footer>
</main>

</body>
</html>